@model Hotel.Models.DichVuModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Tạo Dịch Vụ Mới</h2>

<div>
    <form asp-action="Edit">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body m-2">
                        <div class="row mb-3">
                            <label asp-for="MaDv" class="form-label"></label>
                            <input asp-for="MaDv" class="form-control"
                                readonly>
                            <span asp-validation-for="MaDv" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="TenDv" class="form-label"></label>
                            <input asp-for="TenDv" class="form-control">
                            <span asp-validation-for="TenDv" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DonGia" class="form-label"></label>
                            <input asp-for="DonGia" class="form-control">
                            <span asp-validation-for="DonGia" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="SoLuong" class="form-label"></label>
                            <input asp-for="SoLuong" class="form-control">
                            <span asp-validation-for="SoLuong" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="HinhAnh" class="form-label"></label>
                            <input asp-for="HinhAnh" type="file" class="form-control">
                            <span asp-validation-for="HinhAnh" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <button type="submit" class="btn btn-danger col me-4">Sửa</button>
                            <a asp-action="Index" class="btn btn-primary col">Quay Lại</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </form>
</div>

