@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Đổi Mật Khẩu";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Đổi mật khẩu</h5>
                        <p class="mb-2">Nhập mật khẩu mới để đổi mật khẩu
                        </p>
                    </div>
                    <form asp-action="DoiMatKhau">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu mới</label>
                            <input type="password" id="pass" class="form-control" name="pass"
                                placeholder="Nhập mật khẩu mới" required="">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Nhập lại mật khẩu mới</label>
                            <input type="password" id="repass" class="form-control" name="repass"
                                placeholder="Nhập lại mật khẩu mới" required="">
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Đổi mật khẩu
                            </button>
                        </div>
                        <span>Don't have an account? <a asp-page="/TaiKhoan/DangNhap">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>