@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Quên mật khẩu";
}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Forgot Password?</h5>
                        <p class="mb-2">Enter your registered email ID to reset the password
                        </p>
                    </div>
                    <form asp-action="QuenMatKhau">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" name="email"
                                placeholder="Enter Your Email" required="">
                            @* @Html.ValidationMessage(false, "", new { @class = "alert-danger"}) *@
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Reset Password
                            </button>
                        </div>
                        <span>Don't have an account? <a asp-page="/TaiKhoan/DangNhap">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>